{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'about_us/style.css' %}">
{% endblock %}

{% block content %}

<header>
    <div class="header-title">
        <h1>Nuestra mision y vision</h1>
    </div>
    
    <section class="mission">
        <img class="mission-item" src="{% static 'landing/foto4.jpg' %}" alt="">
    
        <div class="mission-item mission-text">
            <h2>Mision</h2>
            <p>Ofrecer alternativas cotidianas, accesibles y de alta calidad que reemplacen los plásticos de un solo uso y los químicos agresivos. Nos comprometemos a facilitar la transición hacia un consumo responsable, educando a nuestra comunidad y proveyendo herramientas que promuevan el bienestar personal y el cuidado activo del medio ambiente.</p>
    
            <h2>Vision</h2>
            <p>Ser el ecosistema de referencia en productos sustentables y ecológicos, liderando el cambio cultural hacia un estilo de vida de residuo cero (zero waste). Aspiramos a inspirar a miles de hogares a reconectarse con la naturaleza, demostrando que un futuro limpio, consciente y en perfecta armonía con el planeta es completamente posible.</p>
        </div>
    
        <div class="background-color"></div>
    </section>
</header>


<section class="company-values">
    <h2> Nuestros valores </h2>
    <div class="values-list">
        <div class="values-group">
            <div class="value-card">
                <img src="{% static 'landing/foto4.jpg' %}" alt="">
                <h3>Coherencia</h3>
                <p>Cada producto de nuestro catálogo pasa por un filtro estricto. Desde su origen hasta su empaque</p>
            </div>
            <div class="value-card">
                <img src="{% static 'landing/foto4.jpg' %}" alt="">
                <h3>Consciencia</h3>
                <p>No solo vendemos productos; promovemos un despertar. Creemos que cada elección de compra es un voto a favor del futuro</p>
            </div>
        </div>
        <div class="values-group">
            <div class="value-card">
                <img src="{% static 'landing/foto4.jpg' %}" alt="">
                <h3>Sustentabilidad</h3>
                <p>Nos guiamos por los ciclos naturales, donde nada se desperdicia y todo se transforma.</p>
            </div>
            <div class="value-card">
                <img src="{% static 'landing/foto4.jpg' %}" alt="">
                <h3>Empatía y Bienestar</h3>
                <p>Entendemos que el cuidado de la Tierra empieza por el cuidado de uno mismo.</p>
            </div>
        </div>
        
    </div>
</section>

<section class="founder">
    <h2>Nuestro fundador</h2>

    <div class="founder-data">
        <img class="founder-profile" src="{% static 'landing/foto4.jpg' %}" alt="">
        
        <div class="founder-text">
            <h3>la mente y el corazón de este espacio</h3>
            <p>Mi viaje hacia lo sustentable empezó el día que miré mi tacho de basura y me di cuenta de cuántos plásticos de un solo uso consumía casi sin pensar. Sentí que no podía seguir ignorándolo. Así nació este proyecto: no como una tienda perfecta de manual, sino como un refugio para personas reales que, al igual que yo, quieren cuidar de su salud y darle un respiro al planeta sin complicarse la vida.</p>
        </div>
    </div>
</section>

<section class="invitation">
    <h2>Unete a la comunidad de EcoVida</h2>
    <p>No buscamos que cambies tu rutina de la noche a la mañana; estamos acá para mostrarte el inicio de una gran revolución. ¡Bienvenido a nuestro camino hacia lo natural!</p>
</section>

{% endblock %}