{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div>
    <h1>Nuestra mision y vision</h1>
</div>

<section class="mission">
    <img src="" alt="">

    <div>
        <h2>Primer subtitulo</h2>
        <p>Explicacion de la mision</p>

        <h2>Segundo subtitulo</h2>
        <p>Explicacion de la vision</p>
    </div>
</section>

<section class="values">
    <h2> Nuestros valores </h2>
    <div class="values-list">
        <div class="value-card">
            <img src="" alt="">
            <h3>Value title</h3>
            <p>Value paragraph</p>
        </div>
    </div>
</section>

<section class="founder">
    <h2>Nuestro fundador</h2>
    <div class="founder-data">
        <img class="founder-profile" src="" alt="">
        
        <div class="founder-text">
            <h3>Titulo</h3>
            <p>Texto</p>
        </div>
    </div>
</section>

<section class="invitation">
    <h2>Unete a la comunidad de EcoVida</h2>
    <p>Texto de la invitacion</p>
</section>

{% endblock %}