{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'products/style.css' %}">
{% endblock %}

{% block content %}
    <main class="productos">
        <h1>PRODUCTOS DISPONIBLES</h1>
        <div class="grid">
            {% for producto in productos %}
                {% include "./product-card.html" with url=producto.url title=producto.title subtitle=producto.subtitle text=producto.text price=producto.price price_usd=producto.price_usd %}
            {% endfor %}
        </div>
    </main>
{% endblock %}