{% load static %}

<article class="card">
    <img src="{% get_static_prefix %}{{ url }}" alt="Cepillo de bambú">

    <div class="card-contenido">
        <h2>{{title}}</h2>

        <span class="card-subtitulo">
            {{subtitle}}
        </span>

        <p>
            {{text}}
        </p>

        <div class="card-footer">
            <div class="precio-container">
                <span class="card-precio" data-pesos="{{ price }}">${{price}}</span>
                <span class="card-precio-dolar">USD {{price_usd}}</span>
            </div>
            
            <button>AÑADIR</button>
        </div>
    </div>
</article>